<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div class="modal-popup-chat" th:fragment="fragment-popup-chat" id="modal-popup-chat">
    <div class="modal-popup-wrap bg-white p-0 shadow-lg rounded-3">
        <div class="modal-popup-header w-100 border-bottom">
            <div class="card p-3 d-block border-0 d-block">
                <figure class="avatar mb-0 float-left me-2">
                    <img src="" alt="image" class="custom-avatar-40 me-1" id="conversation-image-chat">
                </figure>
                <h5 class="fw-700 text-dark cursor-pointer font-xssss mt-1 mb-1" id="conversation-name-chat"></h5>
                <h4 class="text-grey-500 font-xsssss mt-0 mb-0"><span
                        class="d-inline-block bg-success btn-round-xss m-0"></span>Available</h4>
                <a href="#" class="font-xssss position-absolute right-0 top-0 mt-3 me-4"><i
                        class="ti-close text-grey-900 mt-2 d-inline-block"></i></a>
            </div>
        </div>
        <div class="modal-popup-body w-100 p-3 flex-grow-1 overflow-auto custom-mh-330" id="message-container">
            <!-- messages here-->
        </div>
        <div class="modal-popup-footer w-100 border-top">
            <div class="card p-3 d-block border-0 d-block">
                <div class="form-group icon-right-input style1-input mb-0">
                    <input type="text" id="input-message"
                           placeholder="Start typing.."
                           class="form-control rounded-xl bg-greylight border-0 font-xssss fw-500 ps-3">
                    <i class="feather-send text-grey-500 font-md cursor-pointer" onclick="sendMessageEvent()"></i></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
