<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="application_layout(isFragments)" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:replace="~{::page_title}"></title>
    <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/feather.css}"/>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}"/>
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/emoji.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/lightbox.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="main-wrapper">
    <!-- navigation top-->
    <div th:replace="~{/shared/_header::fragment-header}">
    </div>
    <!-- navigation top-->

    <!-- navigation left -->
    <nav th:replace="~{/shared/_siderbar::fragment-siderbar}">
    </nav>
    <!-- navigation left -->

    <!-- main content -->
    <div th:replace="~{::main_content}">
    </div>
    <!-- main content -->

    <!-- right chat -->
    <div th:replace="~{/shared/_right_chat::fragment-chat}">
    </div>
    <!-- right chat -->

    <!-- popup chat -->
    <div th:replace="~{/chat/_popup_chat::fragment-popup-chat}"></div>
    <!-- popup chat -->
</div>
<!--fragments-->
<div th:if="${isFragments}">
    <div th:replace="~{::fragments}"></div>
</div>
<div th:replace="~{/shared/_confirm_modal :: fragment-comfirm-modal}"></div>
<!--fragments-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/assets/js/plugin.js}"></script>
<script th:src="@{/assets/js/lightbox.js}"></script>
<script th:src="@{/assets/js/scripts.js}"></script>
<script th:src="@{/assets/javascript/validates/validation.js}"></script>
<script th:src="@{/assets/javascript/validates.js}"></script>
<script th:src="@{/assets/javascript/formatter.js}"></script>
<script th:src="@{/assets/javascript/notifications/notification-handle.js}"></script>
<script th:src="@{/assets/javascript/messages/message-handle.js}"></script>
<script th:src="@{/assets/javascript/loader-data.js}"></script>
<script th:src="@{/assets/javascript/conversations/convesation-loader.js}"></script>
<script th:src="@{/assets/javascript/conversations/conversation-handle.js}"></script>
</body>
</html>
