<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}"></title>

    <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/feather.css}">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>

<body class="color-theme-blue">

<div class="preloader"></div>

<div class="main-wrap">

    <div class="nav-header bg-transparent shadow-none border-0">
        <div class="nav-top w-100">
            <a href="index.html"><i class="feather-zap text-success display1-size me-2 ms-0"></i><span
                    class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xxl logo-text mb-0">HMit. </span>
            </a>
            <a href="#" class="mob-menu ms-auto me-2 chat-active-btn"><i
                    class="feather-message-circle text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
            <a href="default-video.html" class="mob-menu me-2"><i
                    class="feather-video text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
            <a href="#" class="me-2 menu-search-icon mob-menu"><i
                    class="feather-search text-grey-900 font-sm btn-round-md bg-greylight"></i></a>
            <button class="nav-menu me-0 ms-2"></button>

            <a href="#" style="visibility: hidden;"
               class="header-btn d-none d-lg-block bg-dark fw-500 text-white font-xsss p-3 ms-auto w100 text-center lh-20 rounded-xl"
               data-bs-toggle="modal" data-bs-target="#Modallogin">Login</a>
            <a href="#" style="visibility: hidden;"
               class="header-btn d-none d-lg-block bg-current fw-500 text-white font-xsss p-3 ms-2 w100 text-center lh-20 rounded-xl"
               data-bs-toggle="modal" data-bs-target="#Modalregister">Register</a>

        </div>
    </div>

    <div class="row">
        <div class="col-xl-5 d-none d-xl-block p-0 vh-100 bg-image-cover bg-no-repeat"
             style="background-image: url(/assets/images/login-bg-2.jpg);">
        </div>
        <div class="col-xl-7 vh-100 align-items-center d-flex bg-white rounded-3 overflow-hidden">
            <div class="card shadow-none border-0 ms-auto me-auto login-card">
                <div class="card-body rounded-0 text-left">
                    <h2 class="fw-700 display1-size display2-md-size mb-4"
                        th:text="${title != null ? title :'Confirm code'}"></h2>
                    <div class="bg-error rounded">
                        <p th:if="${email}" class="p-2 text-white">
                            We’ve sent an email to <span id='email-confirm' th:text="${email}"></span> with instructions
                        </p>
                    </div>
                    <div class="col-sm-12 p-0 text-left mb-1" id="container-error">
                        <h6 class="text-danger font-xsss fw-500 mt-0 mb-0 lh-32" th:if="${message}"
                            id="error-message">
                            <span th:text="${message}"></span>
                        </h6>
                    </div>
                    <form method="post" th:action="@{${urlTarget}}">
                        <input type="hidden" th:value="${email}" name="email">
                        <div class="form-group icon-input mb-3">
                            <input type="text" class="style2-input ps-5 form-control text-grey-900 font-xsss fw-600"
                                   name="code"
                                   placeholder="Enter code"
                                   pattern="^\d{6}$" title="Please enter a 6-digit code" required>
                        </div>
                        <div class="col-sm-12 p-0 text-left">
                            <div class="form-group mb-1">
                                <button type="submit"
                                        class="form-control text-center style2-input text-white fw-600 bg-dark border-0 p-0">
                                    Confirm
                                </button>
                            </div>
                        </div>
                    </form>
                    <div style="margin-bottom: 20px;">
                        <h6 class="text-primary font-xss fw-500 mt-0 mb-0 lh-32"><i>Return
                            <a th:href="@{/login}"
                               class="fw-600 text-grey-700 ms-1">Login</a></i>
                        </h6>
                        <i>
                            If the email doesn't show up soon, check your spam folder.
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/assets/js/plugin.js}"></script>
<script th:src="@{/assets/js/scripts.js}"></script>

</body>
</html>
