<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div class="col-lg-12 mb-3" th:fragment="fragment-cover-photo">
    <div class="card w-100 border-0 p-0 bg-white shadow-xss rounded-xxl">
        <div class="card-body h250 p-0 rounded-xxl overflow-hidden m-3">
                <img th:src="${user_info.coverPhoto}" class="w-100" style="max-height: 350px"
                     alt="image">
        </div>
        <div class="card-body p-0 position-relative">
            <figure class="avatar position-absolute w100 z-index-1" style="top:-40px; left: 30px;">
                    <img th:src="${user_info.avatar}" alt="image"
                         class="float-right p-1 bg-white rounded-circle w-100">
            </figure>
            <h4 class="fw-700 font-sm mt-2 mb-lg-5 mb-4 pl-15" th:text="${user_info.fullName}">
            </h4>
            <div class="d-flex align-items-center justify-content-center position-absolute-md right-15 top-0 me-2">
                <a href="#"
                   class="d-none d-lg-block bg-success p-3 z-index-1 rounded-3 text-white font-xsssss text-uppercase fw-700 ls-3"
                   th:if="${!author && !isFriend}" style="margin-right: 8px;">Add Friend</a>
                <a href="#"
                   class="d-none d-lg-block bg-grey p-3 z-index-1 rounded-3 text-grey-900 font-xsssss text-uppercase fw-700 ls-3"
                   th:if="${!author && isFriend}" style="margin-right: 8px;"> Cancel Friend</a>
                <a href="#"
                   class="d-none d-lg-block bg-grey p-3 z-index-1 rounded-3 text-grey-900 font-xsssss text-uppercase fw-700 ls-3"
                   th:if="${!author && isFollow}" th:text="UnFollow"></a>
                <a href="#"
                   class="d-none d-lg-block bg-success p-3 z-index-1 rounded-3 text-white font-xsssss text-uppercase fw-700 ls-3"
                   th:if="${!author && !isFollow}" th:text="Follow"></a>
                <a href="#" id="dropdownMenu4"
                   class="d-none d-lg-block btn-round-lg ms-2 rounded-3 text-grey-700 bg-greylight"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                        class="ti-more font-md"></i></a>
                <div th:if="${!author}"
                     class="dropdown-menu dropdown-menu-end p-3 rounded-xxl border-0 shadow-lg m-1"
                     aria-labelledby="dropdownMenu4">
                    <div class="card-body p-0 d-flex mb-3">
                        <i class="feather-flag text-grey-500 me-3 font-lg"></i>
                        <a href="#" class="fw-600 text-grey-900 font-xssss mt-1 me-0">Report</a>
                    </div>
                    <div class="card-body p-0 d-flex mt-2">
                        <i class="feather-lock text-grey-500 me-3 font-lg"></i>
                        <a href="#" class="fw-600 text-grey-900 font-xssss mt-1 me-0">Block</a>
                    </div>
                </div>

                <div th:if="${author}"
                     class="dropdown-menu dropdown-menu-end p-3 rounded-xxl border-0 shadow-lg m-1"
                     aria-labelledby="dropdownMenu4">
                    <div class="card-body p-0 d-flex">
                        <i class="feather-flag text-grey-500 me-3 font-lg"></i>
                        <a href="#" class="fw-600 text-grey-900 font-xssss mt-1 me-0">Lock</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>