<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div class="col-lg-12 mb-3" th:fragment="fragment-cover-photo">
    <div class="card w-100 border-0 p-0 bg-white shadow-xss rounded-xxl">
        <div class="card-body h400 p-0 rounded-xxl overflow-hidden m-3">
            <img id="currentUserCoverPhoto" th:data-cover-photo="${user_info.coverPhoto}"
                 th:src="${user_info.coverPhoto}" class="w-100 custom-mh-400 h-100" alt="image"></div>
        <div class="card-body p-0 position-relative">
            <figure th:if="${user_info.userId != currentUser.userId}" class="avatar position-absolute w100 z-index-1"
                    style="top:-40px; left: 30px;">
                <img th:src="${user_info.avatar}" alt="image"
                     class="float-right p-1 bg-white rounded-circle custom-avatar-100 current-user-avatar"></figure>
            <figure th:if="${user_info.userId == currentUser.userId}" id="avatarDropdownMenu" data-bs-toggle="dropdown"
                    aria-expanded="false" class="avatar position-absolute w100 z-index-1"
                    style="top:-40px; left: 30px;">
                <img th:src="${user_info.avatar}" alt="image"
                     class="float-right p-1 bg-white rounded-circle custom-avatar-100 current-user-avatar"></figure>
            <div th:if="${user_info.userId == currentUser.userId}"
                 class="dropdown-menu dropdown-menu-end p-2 rounded-xxxl cursor-pointer border-0 shadow-lg"
                 aria-labelledby="avatarDropdownMenu">
                <div id="update-avatar" th:data-avatar="${user_info.avatar}"
                     class=" card-body p-2 dropdown-item rounded-xxxl d-flex">
                    <i class="fa fa-file-image-o text-grey-500 me-2 fw-600 font-sm"></i>
                    <h4 class="fw-600 text-grey-900 font-xsss mt-1">Update avatar</h4>
                </div>
            </div>
            <h4 class="fw-700 font-sm mt-2 mb-lg-5 mb-4 pl-15" th:text="${user_info.fullName}">
            </h4>
            <div class="d-flex align-items-center justify-content-center position-absolute-md right-15 top-0 me-2">

                <a href="#" th:attr="data-user-id=${user_info.userId}" th:if="${!author}"
                   class="d-none d-lg-block p-3 z-index-1 rounded-3 font-xsssss bg-grey text-grey-900 text-uppercase fw-700 ls-3 me-2"
                   onclick="showConversationInProfile(this)"> Message
                </a>

                <a href="#"
                   class="d-none d-lg-block p-3 z-index-1 rounded-3 font-xsssss text-uppercase fw-700 ls-3 me-2"
                   th:if="${!author}"
                   th:attr="data-user-id=${user_info.userId}, data-is-friend=${isFriend}, data-is-requested=${isRequested}"
                   th:classappend="${isFriend} ? 'bg-grey text-grey-900' : (${isRequested} ? 'bg-grey text-grey-900' : 'bg-success text-white')"
                   th:text="${isFriend} ? 'Cancel Friend' : (${isRequested} ? 'Cancel Request' : 'Add Friend')"
                   onclick="_toggleFriend(this)">
                </a>
                <a href="#"
                   class="d-none d-lg-block p-3 z-index-1 rounded-3 font-xsssss text-uppercase fw-700 ls-3 btn btn-follow-profile"
                   th:if="${!author}"
                   th:attr="data-user-id=${user_info.userId}, data-is-following=${isFollow}"
                   th:classappend="${isFollow} ? 'bg-grey text-grey-900' : 'bg-primary text-white'"
                   th:text="${isFollow} ? 'Unfollow' : 'Follow'"
                   onclick="_toggleFollow(this)">
                </a>

                <a href="#" id="dropdownMenu4"
                   class="d-none d-lg-block btn-round-lg ms-2 rounded-3 text-grey-700 bg-greylight"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                        class="ti-more font-md"></i></a>
                <div th:if="${!author}"
                     class="dropdown-menu dropdown-menu-end p-3 rounded-xxl border-0 shadow-lg m-1"
                     aria-labelledby="dropdownMenu4">
                    <div class="card-body p-0 d-flex mb-3">
                        <i class="feather-flag text-grey-500 me-3 font-lg"></i>
                        <a href="#" class="fw-600 text-grey-900 font-xssss mt-1 me-0">Report</a>
                    </div>
                    <div class="card-body p-0 d-flex mt-2">
                        <i class="feather-lock text-grey-500 me-3 font-lg"></i>
                        <a href="#" class="fw-600 text-grey-900 font-xssss mt-1 me-0"
                           th:attr="data-user-id=${user_info.userId}, data-full-name=${user_info.fullName}"
                           onclick="_blockUser(this, true)">Block</a>
                    </div>
                </div>

                <div th:if="${author}"
                     class="dropdown-menu dropdown-menu-end p-3 rounded-xxl border-0 shadow-lg m-1"
                     aria-labelledby="dropdownMenu4">
                    <div class="card-body p-0 d-flex">
                        <i class="feather-flag text-grey-500 me-3 font-lg"></i>
                        <a href="#" class="fw-600 text-grey-900 font-xssss mt-1 me-0">Lock</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/assets/javascript/users/user-handle.js}"></script>
</div>
</body>
</html>
