<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layouts/application:: application_layout(${author} ? true : false)}" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:fragment="page_title" th:text="${user_info.fullName}"></title>
</head>
<body>
<!-- main content -->
<div th:fragment="main_content" class="main-content right-chat-active">
    <div class="middle-sidebar-bottom">
        <div class="middle-sidebar-left">
            <div class="row feed-body">
                <div th:replace="~{/profiles/_photo::fragment-cover-photo}"></div>
                <div class="col-xl-4 col-xxl-3 col-lg-4 pe-0">
                    <div class="card w-100 shadow-xss rounded-xxl border-0 mb-3">
                        <div class="card-body d-block p-4">
                            <h4 class="fw-500 mb-3 font-xsss text-grey-900">Intro</h4>
                            <p class="fw-500 text-grey-900 lh-24 font-xssss mb-0"
                               th:if="${user_info.aboutMe != null}" th:text="${user_info.aboutMe}"></p>
                        </div>
                        <div class="card-body border-top-xs d-flex">
                            <i class="feather-mail text-grey-500 me-3 font-lg"></i>
                            <h4 class="fw-500 text-grey-900 font-xssss mt-1" th:text="${user_info.email}"></h4>
                        </div>
                        <div class="card-body d-flex pt-0" th:if="${user_info.dob != null}">
                            <i class="feather-calendar text-grey-500 me-3 font-lg"></i>
                            <h4 class="fw-500 text-grey-900 font-xssss mt-0"> <span
                                    class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-900"
                                    th:text="${user_info.dob}"></span>
                            </h4>
                        </div>
                        <div class="card-body d-flex pt-0" th:if="${user_info.country != null}">
                            <i class="feather-map-pin text-grey-500 me-3 font-lg"></i>
                            <h4 class="fw-500 text-grey-900 font-xssss mt-1" th:text="${user_info.country}"></h4>
                        </div>
                        <div class="card-body d-flex pt-0">
                            <i class="feather-users text-grey-500 me-3 font-lg"></i>
                            <h4 class="fw-500 font-xssss mt-1">
                                <a th:href="@{/friends(user-id=${user_info.userId})}" class="text-grey-900">
                                    <span th:text="${number_of_friends}" th:if="${number_of_friends > 0}"></span>&nbsp;
                                    Friends
                                </a>
                            </h4>
                        </div>
                        <div class="card-body d-flex pt-0">
                            <i class="fa fa-rss text-grey-500 me-3 font-lg"></i>
                            <h4 class="fw-500 font-xssss mt-1">
                                <a class="text-grey-900">
                                    <span th:text="${followers}" th:if="${followers >0}"></span>&nbsp;
                                    Follower
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="card w-100 shadow-xss rounded-xxl border-0 mb-3">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="fw-700 mb-0 font-xssss text-grey-900">Photos</h4>
                            <a href="#" class="fw-600 ms-auto font-xssss text-primary">See all</a>
                        </div>
                        <div class="card-body d-block pt-0 pb-2">
                            <div class="row m-0">
                                <div class="col-6 mb-2" th:each="media, iterStat : ${medias}"
                                     th:if="${iterStat.count} &lt;= 4">
                                    <img th:src="${media.url}" alt="image" class="img-fluid rounded-3 media-profile" th:if="${media.type.name == 'IMAGE'}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- posts content-->
                <div th:replace="~{/posts/_post::fragment-posts}"></div>
                <!-- posts content-->
            </div>
        </div>
    </div>
</div>
<!-- main content -->

<!--    create post modal-->
<div th:fragment="fragments">
    <div th:replace="~{/profiles/_photo_modal :: fragment-photo-modal}"></div>
    <div th:replace="~{/posts/_create_post :: fragment-create-post}"></div>
    <div th:replace="~{/posts/_tag_friends :: fragment-tag-friends}"></div>
    <div th:replace="~{/shared/_confirm_delete_modal :: fragment-comfirm-delete}"></div>
    <script th:src="@{/assets/javascript/profiles/update-photo.js}"></script>
</div>
<!--    create post modal-->
</body>
</html>