<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="fragment-feeling-post" class="card-body d-flex p-0 mt-3">
    <a href="#"
       class="emoji-btn d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2 btn-like-post">
            <span th:if="${item.isLiked}" class="btn-like">
                <i class="bg-primary feather-thumbs-up text-white me-1 btn-round-xs font-xss"></i>
            </span>
        <span th:unless="${item.isLiked}" class="btn-like">
                <i class="feather-thumbs-up text-grey-900 me-1 btn-round-xs font-xss"></i>
            </span>
        <span th:if="${item.likes.size() != 0}" th:text="${item.likes.size()}" class="like-count"></span>
        <span th:if="${item.likes.size() == 0}" class="like-count"></span>&nbsp;Like
    </a>
    <a class="cursor-pointer btn-show-comment d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss border-0">
        <i class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i>
        <span class="d-none-xss comment-count" th:text="${item.comments.size()}" th:attr="count-comment-post-id=${item.postId}"
              th:if="${item.comments.size() != 0}"></span>

        <span class="d-none-xss comment-count" th:attr="count-comment-post-id=${item.postId}"
              th:if="${item.comments.size() == 0}"></span>
        &nbsp; Comment
    </a>
    <a href="#" id="shareDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false"
       class="ms-auto d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i
            class="feather-share-2 text-grey-900 text-dark btn-round-sm font-lg"></i><span
            class="d-none-xs">Share</span></a>
    <div class="dropdown-menu dropdown-menu-end p-3 rounded-xxl border-0 shadow-lg"
         aria-labelledby="shareDropdownMenu" style="width: 400px">
        <textarea th:id="'share-content-' + ${item.postId}" placeholder="Say something..." type="text"
                  class="bg-grey text-grey-800 font-xssss border-0 lh-32 p-2 font-xssss fw-600 rounded-3 w-100 theme-dark-bg"></textarea>
        <div th:data-postId="${item.postId}" class="btn-share-post card-body p-0 rounded-xxxl d-flex float-right">
            <h4 class="fw-600 text-white font-xsss mt-1 btn btn-primary">Share</h4>
        </div>
        <div class="card-body p-0 rounded-xxxl me-2 d-flex float-right">
            <h4 class="fw-600 text-grey-700 font-xsss mt-1 btn btn-outline-warning" onclick="copyLink(this)" th:attr="data-post-id=${item.postId}">Copy link</h4>
        </div>
    </div>
</div>
</body>
</html>
