<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layouts/application:: application_layout(true)}" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:fragment="page_title" th:text="${page_title}"></title>
</head>
<body>

<!-- main content -->
<div th:fragment="main_content" class="main-content right-chat-active">
    <div class="middle-sidebar-bottom">
        <div class="middle-sidebar-left">
            <div class="row feed-body">
                <!-- posts content-->
                <div th:replace="~{/posts/_post::fragment-posts}"></div>
                <!-- posts content-->

                <!-- friend request-->
                <div th:replace="~{/people/_friend_request::fragment_friend_request}"></div>
                <!-- friend request-->
            </div>
        </div>
    </div>
</div>
<!-- main content -->

<!--    create post modal-->
<div th:fragment="fragments">
    <div th:replace="~{/posts/_create_post :: fragment-create-post}"></div>
    <div th:replace="~{/posts/_tag_friends :: fragment-tag-friends}"></div>
    <div th:replace="~{/shared/_confirm_delete_modal :: fragment-comfirm-delete}"></div>
    <div th:replace="~{/posts/_report_modal :: fragment-report}"></div>
</div>
<!--    create post modal-->
</body>
</html>
