<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="fragment-comfirm-delete" class="modal fade" id="confirmModal" tabindex="-1"
     aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fw-bold" id="confirmModalLabel"></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button id="btnCancelModal" type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
        <button id="btnConfirmModal" th:data-postId="0" type="button" data-bs-dismiss="modal" class="btn btn-primary text-white"></button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
