<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="fragment-header" class="nav-header bg-white shadow-xs border-0">
    <div class="nav-top">
        <a th:href="@{/}"><i class="feather-zap text-success display1-size me-2 ms-0"></i><span
                class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xxl logo-text mb-0">HMit.
            </span>
        </a>
    </div>
    <input type="hidden" th:value="${currentUser.userId}" id="current_user_id">
    <input type="hidden" th:value="${currentUser.fullName}" id="current_user_name">
    <input type="hidden" th:value="${currentUser.avatar}" id="current_user_avatar">
    <form action="/search" method="get" class="float-left header-search" onsubmit="return validateSearchForm()">
        <div class="form-group mb-0 icon-input">
            <i class="feather-search font-sm text-grey-400"></i>
            <input type="hidden" value="people" name="type"/>
            <input id="search-text" type="text" th:value="${search_value}" placeholder="Start typing to search.." name="q"
                   class="bg-grey border-0 lh-32 pt-2 pb-2 ps-5 pe-3 font-xssss fw-500 rounded-xl w350 theme-dark-bg"/>
        </div>
    </form>
    <a th:href="@{/}"
       class="p-2 text-center ms-3 menu-icon center-menu-icon"><i
            class="feather-home font-lg alert-primary btn-round-lg theme-dark-bg text-current"></i></a>
    <a th:href="@{/}" class="p-2 text-center ms-0 menu-icon center-menu-icon"><i
            class="feather-zap font-lg bg-greylight btn-round-lg theme-dark-bg text-grey-500"></i></a>
    <a th:href="@{/}" class="p-2 text-center ms-0 menu-icon center-menu-icon"><i
            class="feather-video font-lg bg-greylight btn-round-lg theme-dark-bg text-grey-500"></i></a>
    <a th:href="@{/profile.me}" class="p-2 text-center ms-0 menu-icon center-menu-icon"><i
            class="feather-user font-lg bg-greylight btn-round-lg theme-dark-bg text-grey-500"></i></a>
    <a th:href="@{/}" class="p-2 text-center ms-auto menu-icon" id="dd-notification"
       data-bs-toggle="dropdown" aria-expanded="false">
        <span class="dot-count bg-warning"></span><i class="feather-bell font-xl text-current"></i></a>
    <div th:replace="/notifications/_notifications::fragment-notification"></div>
    <a th:href="@{/}" class="p-2 text-center ms-3 menu-icon chat-active-btn"
    ><i class="feather-message-square font-xl text-current"></i
    ></a>
    <div class="p-2 text-center ms-3 position-relative dropdown-menu-icon menu-icon cursor-pointer">
        <i class="feather-settings animation-spin d-inline-block font-xl text-current"></i>
        <div class="dropdown-menu-settings switchcolor-wrap">
            <h4 class="fw-700 font-sm mb-4">Settings</h4>
            <h6 class="font-xssss text-grey-500 fw-700 mb-3 d-block">
                Choose Color Theme
            </h6>
            <ul>
                <li>
                    <label class="item-radio item-content">
                        <input
                                type="radio"
                                name="color-radio"
                                value="red"
                                checked=""
                        /><i class="ti-check"></i>
                        <span
                                class="circle-color bg-red"
                                style="background-color: #ff3b30"
                        ></span>
                    </label>
                </li>
                <li>
                    <label class="item-radio item-content">
                        <input type="radio" name="color-radio" value="green"/><i
                            class="ti-check"
                    ></i>
                        <span
                                class="circle-color bg-green"
                                style="background-color: #4cd964"
                        ></span>
                    </label>
                </li>
                <li>
                    <label class="item-radio item-content">
                        <input
                                type="radio"
                                name="color-radio"
                                value="blue"
                                checked=""
                        /><i class="ti-check"></i>
                        <span
                                class="circle-color bg-blue"
                                style="background-color: #132977"
                        ></span>
                    </label>
                </li>
                <li>
                    <label class="item-radio item-content">
                        <input type="radio" name="color-radio" value="pink"/><i
                            class="ti-check"
                    ></i>
                        <span
                                class="circle-color bg-pink"
                                style="background-color: #ff2d55"
                        ></span>
                    </label>
                </li>
                <li>
                    <label class="item-radio item-content">
                        <input type="radio" name="color-radio" value="yellow"/><i
                            class="ti-check"
                    ></i>
                        <span
                                class="circle-color bg-yellow"
                                style="background-color: #ffcc00"
                        ></span>
                    </label>
                </li>
                <li>
                    <label class="item-radio item-content">
                        <input type="radio" name="color-radio" value="orange"/><i
                            class="ti-check"
                    ></i>
                        <span
                                class="circle-color bg-orange"
                                style="background-color: #ff9500"
                        ></span>
                    </label>
                </li>
                <li>
                    <label class="item-radio item-content">
                        <input type="radio" name="color-radio" value="gray"/><i
                            class="ti-check"
                    ></i>
                        <span
                                class="circle-color bg-gray"
                                style="background-color: #8e8e93"
                        ></span>
                    </label>
                </li>

                <li>
                    <label class="item-radio item-content">
                        <input type="radio" name="color-radio" value="brown"/><i
                            class="ti-check"
                    ></i>
                        <span
                                class="circle-color bg-brown"
                                style="background-color: #d2691e"
                        ></span>
                    </label>
                </li>
                <li>
                    <label class="item-radio item-content">
                        <input type="radio" name="color-radio" value="darkgreen"/><i
                            class="ti-check"
                    ></i>
                        <span
                                class="circle-color bg-darkgreen"
                                style="background-color: #228b22"
                        ></span>
                    </label>
                </li>
                <li>
                    <label class="item-radio item-content">
                        <input type="radio" name="color-radio" value="deeppink"/><i
                            class="ti-check"
                    ></i>
                        <span
                                class="circle-color bg-deeppink"
                                style="background-color: #ffc0cb"
                        ></span>
                    </label>
                </li>
                <li>
                    <label class="item-radio item-content">
                        <input type="radio" name="color-radio" value="cadetblue"/><i
                            class="ti-check"
                    ></i>
                        <span
                                class="circle-color bg-cadetblue"
                                style="background-color: #5f9ea0"
                        ></span>
                    </label>
                </li>
                <li>
                    <label class="item-radio item-content">
                        <input type="radio" name="color-radio" value="darkorchid"/><i
                            class="ti-check"
                    ></i>
                        <span
                                class="circle-color bg-darkorchid"
                                style="background-color: #9932cc"
                        ></span>
                    </label>
                </li>
            </ul>

            <div class="card bg-transparent-card border-0 d-block mt-3">
                <h4 class="d-inline font-xssss mont-font fw-700">
                    Header Background
                </h4>
                <div class="d-inline float-right mt-1">
                    <label class="toggle toggle-menu-color"><input type="checkbox"/><span
                            class="toggle-icon"></span></label>
                </div>
            </div>
            <div class="card bg-transparent-card border-0 d-block mt-3">
                <h4 class="d-inline font-xssss mont-font fw-700">
                    Menu Position
                </h4>
                <div class="d-inline float-right mt-1">
                    <label class="toggle toggle-menu"
                    ><input type="checkbox"/><span class="toggle-icon"></span
                    ></label>
                </div>
            </div>
            <div class="card bg-transparent-card border-0 d-block mt-3">
                <h4 class="d-inline font-xssss mont-font fw-700">Dark Mode</h4>
                <div class="d-inline float-right mt-1">
                    <label class="toggle toggle-dark"
                    ><input type="checkbox"/><span class="toggle-icon"></span
                    ></label>
                </div>
            </div>
        </div>
    </div>
    <a th:href="@{/}" class="p-0 ms-3 menu-icon">
        <img th:src="@{${currentUser.avatar}}" alt="user" class="custom-avatar-50 rounded-circle current-user-avatar mt--1"/></a>
</div>
</body>
</html>
