<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="fragment-members-modal" class="modal fade" id="_membersModal" tabindex="-1"
     aria-labelledby="_membersModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title m-auto fw-bold" id="_membersModalLabel"></h3>
        <!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button id="btnCancelModal" type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
        <button type="button" data-bs-dismiss="modal" class="btn-ok btn btn-primary text-white"></button>
      </div>
    </div>
  </div>
</div>
</body>
</html>