<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<nav th:fragment="fragment-siderbar" class="navigation scroll-bar">
    <div class="container ps-0 pe-0">
        <div class="nav-content">
            <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1 mb-2 mt-2">
                <div class="nav-caption fw-600 font-xssss text-grey-500">
                    <span>New </span>Feeds
                </div>
                <ul class="mb-1 top-content">
                    <li class="logo d-none d-xl-block d-lg-block"></li>
                    <li>
                        <a th:href="@{/}" class="nav-content-bttn open-font"><i
                                class="feather-tv btn-round-md bg-blue-gradiant me-3"></i>
                            <span>Newsfeed</span></a>
                    </li>
                    <li>
                        <a th:href="@{/posts/saved}" class="nav-content-bttn open-font">
                            <i class="feather-save btn-round-md bg-gold-gradiant me-3"></i>
                            <span>Posts Save</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/posts/hidden}"
                           class="nav-content-bttn open-font">
                            <i class="feather-eye-off btn-round-md bg-mini-gradiant me-3"></i>
                            <span>Posts Hidden</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/profile(user-id=${currentUser.userId})}" class="nav-content-bttn open-font">
                            <i class="feather-user font-lg bg-primary btn-round-md text-white me-3"></i>
                            <span>Author Profile</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav-wrap bg-white bg-transparent-card rounded-xxl shadow-xss pt-3 pb-1">
                <div class="nav-caption fw-600 font-xssss text-grey-500">
                    <span></span> Account
                </div>
                <ul class="mb-1">
                    <li class="logo d-none d-xl-block d-lg-block"></li>

                    <li>
                        <a th:href="@{chat}"
                           class="nav-content-bttn open-font h-auto pt-2 pb-2"><i
                                class="font-sm feather-message-square me-3 text-grey-500"></i>
                            <span>Chat</span
                            ><span class="circle-count bg-warning mt-0">23</span></a>
                    </li>
                    <li>
                        <a th:href="@{../people}" class="nav-content-bttn open-font h-auto pt-2 pb-2">
                            <i class="feather-users me-3 text-grey-500"></i>
                            <span>Friend</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{settings}"
                           class="nav-content-bttn open-font h-auto pt-2 pb-2"><i
                                class="font-sm feather-settings me-3 text-grey-500"></i
                        ><span>Settings</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
</body>
</html>
