<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div class="middle-wrap" th:fragment="fragment-account-info">
    <div class="card w-100 border-0 bg-white shadow-xs p-0 mb-4">
        <div class="card-body p-4 w-100 bg-current border-0 d-flex rounded-3">
            <a href="/settings" class="d-inline-block mt-2"><i class="ti-arrow-left font-sm text-white"></i></a>
            <h4 class="font-xs text-white fw-600 ms-4 mb-0 mt-2">Account Details</h4>
        </div>
        <div class="card-body p-lg-5 p-4 w-100 border-0 ">
            <div class="row justify-content-center">
                <div class="col-lg-4 text-center">
                    <figure class="avatar ms-auto me-auto mb-0 mt-2">
                        <img th:src="@{${currentUser.avatar}}" alt="image" class="shadow-sm rounded-3 custom-avatar-200">
                    </figure>
                    <h2 class="fw-700 font-sm text-grey-900 mt-3" th:text="${currentUser.fullName}"></h2>
                    <h4 class="text-grey-500 fw-500 mb-3 font-xsss mb-4" th:text="${currentUser.email}"></h4>
                </div>
            </div>
            <form action="#">
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <div class="form-group">
                            <label class="mont-font fw-600 font-xsss">Full Name</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="form-group">
                            <label class="mont-font fw-600 font-xsss">Phone</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <div class="form-group">
                            <label class="mont-font fw-600 font-xsss">Email</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="form-group">
                            <label class="mont-font fw-600 font-xsss">Country</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mb-3">
                        <div class="form-group">
                            <label class="mont-font fw-600 font-xsss">Address</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mb-3">
                        <label class="mont-font fw-600 font-xsss">Description</label>
                        <textarea class="form-control mb-0 p-3 h100 bg-greylight lh-16" rows="5"
                                  placeholder="Write your message..." spellcheck="false">
                        </textarea>
                    </div>
                    <div class="col-lg-12">
                        <a href="#"
                           class="bg-current text-center text-white font-xsss fw-600 p-3 w175 rounded-3 d-inline-block">Save</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
