<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div class="middle-wrap" th:fragment="fragment-update-email">
    <div class="card w-100 border-0 bg-white shadow-xs p-0 mb-4">
        <div class="card-body p-4 bg-primary w-100 bg-current border-0 d-flex rounded-3">
            <a href="/settings" class="d-inline-block mt-2"><i
                    class="ti-arrow-left font-sm text-white"></i></a>
            <h4 class="font-xs text-white fw-600 ms-4 mb-0 mt-2">Change Email</h4>
        </div>
        <div class="card-body p-lg-5 p-4 w-100 border-0">
            <div class="bg-error rounded" th:classappend="${error != null ? '': 'd-none'}" id="update-email-error">
                <p class="p-2 ps-3 text-white font-xsss" th:if="${error}" th:text="${error}"></p>
            </div>
            <div class="row">
                <div class="col-lg-12 mb-3">
                    <div class="form-group">
                        <label class="mont-font fw-600 font-xss">Current Email</label>
                        <input type="email" name="currentEmail" class="form-control" id="change-email-current"
                               required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                    </div>
                </div>
                <div class="col-lg-12 mb-3">
                    <div class="form-group">
                        <label class="mont-font fw-600 font-xss">New Email</label>
                        <input type="email" name="newEmail" class="form-control" id="change-email-new" required
                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mb-3">
                    <div class="form-gorup d-none" id="input-code-label">
                        <label class="mont-font fw-600 font-xssss">Confirm Code</label>
                        <input type="text" name="code" class="form-control" pattern="^\d{6}$" id="input-code"
                               title="Please enter a 6-digit code">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mb-0 d-none" id="btn-save-change-email">
                    <a href="#"
                       class="bg-primary text-center text-white font-xsss fw-600 p-3 w175 rounded-3 d-inline-block"
                       onclick="saveChangeEmail()">
                        Save
                    </a>
                </div>
            </div>
            <div class="col-lg-12 mb-0">
                <a href="#" id="btn-get-code"
                   class="bg-primary text-center text-white font-xsss fw-600 p-3 w175 rounded-3 d-inline-block"
                   onclick="getCodeChangeEmail()"> Get Code</a>
            </div>
        </div>
    </div>
    <script th:src="@{/assets/js/plugin.js}"></script>
    <script th:src="@{/assets/javascript/users/update-user.js}"></script>
</div>
</body>
</html>
